.header {
    
}

.header_box {
    border-radius: 5px;
    padding: 10px;
    font-weight: bolder;
    background-color: rgb(76, 218, 194);
    cursor: pointer;
    box-shadow: 1px 1px rgb(32, 52, 88);
    margin: 5px;
    width: 500px;
    height: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
}